@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

html,
body,
#root {
  height: 100%;
  margin: 15px;
  background-color: #ff9d00;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  display: flex;
}

.list {
  color: #ffffff;
  width: 50%;
}

.details {
  color: #ffffff;
  width: 50%;
}

.list > h2 {
  margin-left: 10px;
}

.details > h2 {
  margin-left: 17px;
}

.card__left {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 80%;
}

.card__left .MuiCardContent-root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card__left h3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.table {
  margin-top: 20px;
  overflow: scroll;
  height: 385px;
  color: #6a5d5d;
  background-color: #fff;
}

.table__data {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
}

.table::-webkit-scrollbar {
  display: none !important;
}

.table__data:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.info__container {
  width: 250px;
  margin: 20px;
  padding: 50px;
}

.info__name {
  font-size: 20px;
  font-weight: bold;
  color: #555;
  padding: 5px;
}

.info__flag {
  height: 110px;
  width: 100%;
  background-size: cover;
  border-radius: 8px;
}

.info__flag img {
  width: 100px;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  .list {
    width: 100%;
  }
  .details {
    width: 100%;
  }
  .card__left {
    width: 100%;
  }
}
